.badge {
    line-height: 22px;
    z-index: 50;
    position: absolute;
}



.discount {
    
    background-color: red;
    color: white;
    display: inline-block;
    top: 80%;
    left: 0;
}

.sostenibile {
    
    background-color: green;
    color: white;
    top: 80%;
    left: 20%;

}

.sostenibile__only {
    
    background-color: green;
    color: white;
    top: 80%;
    left: 0;
}

.like {
    background-color: white;
    color: black;
    font-size: 32px;
    position: absolute;
    display: inline-block;
    top: 2%;
    right: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 50;  
}