.badge {
    line-height: 22px;
    z-index: 50;
    position: absolute;
    padding: 2px 4px;
    top: 75%;
}



.discount {
    background-color: red;
    color: white;
    display: inline-block;
    left: 0;
}

.tag {
    background-color: green;
    color: white;
    left: 20%;

}

.sostenibile__only {  
    background-color: green;
    color: white;
    left: 0;
}

.like {
    background-color: white;
    color: black;
    font-size: 32px;
    position: absolute;
    display: inline-block;
    top: 2%;
    right: 0;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 50;  
}

.card:hover .like {
    opacity: 1;
}