  .container {
    max-width: 1080px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-4 {
    width: calc(4 * 100% / 12);
  }

  .col-6 {
    width: calc(6 * 100% / 12);
  }

  .col-8 {
    width: calc(8 * 100% / 12);
  }
  
  .col-100 {
    width: 100%;
  }

  .card-section{
    padding-top: 140px;
    margin-bottom: 80px;
  }